
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.text{
    text-align: center;
}

.top{
    font-size: 14px;
    color: #ffffff;
    font-weight: 300; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
}

.top h3{
    font-size: 20px;
    margin: 5px;
}

.top p{
    font-size: 15px;
    margin: 9px;
    margin-left: 30px;
    margin-right: 30px;
}

.top a{
    margin: 9px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.text h1{
    font-size: 50px;
    color: #ffffff;
    font-weight: 600;
}

.text h4{
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}

.text p{
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}


nav .logo{
    width: 100px;
    margin-left: 0;
}

nav ul i{
    margin-left: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 520;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}

button {
    font-size: 17px;
    border: none;
    outline: none;
    padding: 10px 90px;
    border-radius: 5px;
    background-color: rgb(56, 56, 56);
    color: white;
    margin-left: 20px;   
}

.light{
    background-color: rgb(238, 237, 237);
    color: black;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3)),rgba(12,3,51,0.3);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.link{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}